In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [7]:
# to read excel files
!pip install xlrd

Collecting xlrd
  Downloading xlrd-1.2.0-py2.py3-none-any.whl (103 kB)
     |████████████████████████████████| 103 kB 696 kB/s eta 0:00:01
Installing collected packages: xlrd
Successfully installed xlrd-1.2.0
WARNING: You are using pip version 20.0.2; however, version 20.1 is available.
You should consider upgrading via the '/home/nata/my_projects/env/bin/python3 -m pip install --upgrade pip' command.

In [33]:
def date_feature(df):
    df["year"] = df["date"].apply(lambda x: str(x)[:4])
    df["month"] = df["date"].apply(lambda x: str(x)[4:6])
    df["day"] = df["date"].apply(lambda x: str(x)[6:8])
    df["date"] = pd.to_datetime(df[["year", "month", "day"]])
    return df

In [38]:
option_2015_1 = pd.read_csv("OptionPrices_2015_m1_m6.csv")
option_2015_2 = pd.read_csv("OptionPrices_2015_m7_m12.csv")
option_2016 = pd.read_csv("OptionPrices_2016.csv")

option_2015_1 = date_feature(option_2015_1)
option_2015_2 = date_feature(option_2015_2)
option_2016 = date_feature(option_2016)

In [39]:
option_2015_1.shape, option_2015_2.shape, option_2016.shape

((997999, 37), (977834, 37), (619812, 37))

In [40]:
option_2016.head()

,secid,date,symbol,symbol_flag,exdate,last_date,cp_flag,strike_price,best_bid,best_offer,...,class,issue_type,industry_group,issuer,div_convention,exercise_style,am_set_flag,year,month,day
0,108105,2016-01-04,SPX 160115C1000000,1,20160115,20160104.0,C,1000000,1007.4,1010.8,...,NaN,A,NaN,CBOE S&P 500 INDEX,I,E,1,2016,01,04
1,108105,2016-01-04,SPX 160115C1025000,1,20160115,20150629.0,C,1025000,982.3,985.8,...,NaN,A,NaN,CBOE S&P 500 INDEX,I,E,1,2016,01,04
2,108105,2016-01-04,SPX 160115C1050000,1,20160115,20150629.0,C,1050000,957.3,960.9,...,NaN,A,NaN,CBOE S&P 500 INDEX,I,E,1,2016,01,04
3,108105,2016-01-04,SPX 160115C1075000,1,20160115,20150629.0,C,1075000,932.3,935.9,...,NaN,A,NaN,CBOE S&P 500 INDEX,I,E,1,2016,01,04
4,108105,2016-01-04,SPX 160115C1100000,1,20160115,20151216.0,C,1100000,907.4,911.1,...,NaN,A,NaN,CBOE S&P 500 INDEX,I,E,1,2016,01,04

In [22]:
SP_index = pd.read_excel("PredictorData2018.xlsx", sheet_name = 0)
print(SP_index.shape)
SP_index.head()

(1790, 20)

,yyyymm,Index,D12,E12,b/m,tbl,AAA,BAA,lty,ntis,Rfree,infl,unem,ltr,corpr,svar,csp,IndProd,CRSP_SPvw,CRSP_SPvwx
0,187101.0,4.44,0.26,0.4,NaN,NaN,NaN,NaN,NaN,NaN,0.004955,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,187102.0,4.50,0.26,0.4,NaN,NaN,NaN,NaN,NaN,NaN,0.004514,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,187103.0,4.61,0.26,0.4,NaN,NaN,NaN,NaN,NaN,NaN,0.004243,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,187104.0,4.74,0.26,0.4,NaN,NaN,NaN,NaN,NaN,NaN,0.004632,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,187105.0,4.86,0.26,0.4,NaN,NaN,NaN,NaN,NaN,NaN,0.003691,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN